:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-red: #EE3643;
  --basic-dark-blue: #293449;
  --basic-blue: #32425C;
  --basic-light-grey: #F1F5F7;
  --text-red: #EE3643;
  --social-blue: #212A3A;
  --phone-grey: #F3F7F9;
  --button-green: #63A63E;
  --basic-green: #63A63E;

  --color-materials: #FFBF47;
  --color-tool: #3BBCE3;
  --color-technic: #DC91D8;
  --color-discounts: #8ED78F;
  --color-delivery: #FFC047;
  --color-sections: #F9F5F0;
  --color-old-price: #A9A9A9;
  --color-background-price: #EE3643;
  --color-green-button: #63A63E;
  --color-red-button: #FF5357;
  --color-text-white: #F3F7F9;
  --color-text-gold1: #FFD180;
  --color-text-gold2: #FFDA96;
  --color-poligon-filter: #F7F3EC;

  --color-active-blue: #1D2739;
  --color-active-red: #BA2732;
  --color-active-button: #D8D8D8;
  --color-hover-green-button: #5FBB2D;
  --color-active-green-button: #518534;
  --color-active-blue-button: #161D29;
  --color-active-grey-bottom: #C5C5C5;

  --body-font-size: 13px;
  --body-line-height: 24px;
  --body-font-weight: normal;
  --body-text-align: left;
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Cuprum Regular"),
       local("Cuprum-Regular"),
       url("../fonts/cuprum-v11-latin_cyrillic-regular.woff2") format("woff2"),
       url("../fonts/cuprum-v11-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("Cuprum Bold"),
       local("Cuprum-Bold"),
       url("../fonts/cuprum-v11-latin_cyrillic-700.woff2") format("woff2"),
       url("../fonts/cuprum-v11-latin_cyrillic-700.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: local("Cuprum Italic"),
       local("Cuprum-Italic"),
       url("../fonts/cuprum-v11-latin_cyrillic-italic.woff2") format("woff2"),
       url("../fonts/cuprum-v11-latin_cyrillic-italic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"),
       local("PTSans-Regular"),
       url("../fonts/pt-sans-v11-latin_cyrillic-regular.woff2") format("woff2"),
       url("../fonts/pt-sans-v11-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"),
        local("PTSans-Bold"),
       url("../fonts/pt-sans-v11-latin_cyrillic-700.woff2") format("woff2"),
       url("../fonts/pt-sans-v11-latin_cyrillic-700.woff") format("woff");
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*General*/

.page-body {
  min-width: 960px;
  background-color: var(--basic-white);
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  font-weight: var(--body-font-weight);
  text-align: var(--body-text-align);
  color: var(--basic-black);
}

/*Header*/

.header {
  background-color: var(--basic-light-grey);
  font-size: 18px;
  line-height: 24px;
}

.header-logo,
.footer-logo {
  background-color: var(--basic-red);
  border-bottom: 5px solid #B52933;
}

.user-navigation {
  background-color: var(--basic-dark-blue);
  color: var(--basic-white);
}

.search-form__input {
  background-color: inherit;
  border: none;
  align-items: center;
}

input.search-form__input::placeholder {
  font-family: inherit;
  color: var(--basic-white);
}

.header-bookmarks {
  color: var(--basic-white);
}

.header-basket {
  color: var(--basic-white);
}

.header-arrange-button {
  background-color: var(--button-green);
  color: var(--basic-white);
}

.user-contacts-account__lead {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  text-align: center;
}

.header-contacts__phone {
  font-family: "Cuprum", sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-style: normal;
  font-weight: bold;
  color: var(--basic-red);
  border: 3px solid white;
  background-color: var(--phone-grey);
  margin-bottom: 3px;
}

.header-contacts__address {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-blue);
}

.user-menu {
  font-size: 21px;
  line-height: 21px;
}

.user-menu__login {
  background-color: var(--basic-white);
  color: var(--basic-black);
  text-align: center;
}

.user-menu__registration {
  background-color: var(--basic-white);
  color: var(--basic-black);
  text-align: center;
}

.user-menu__author {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  text-align: center;
  background-color: var(--basic-white);
}

.user-menu__my-order {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue);
  text-align: center;
}

.user-menu__account {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue);
  text-align: center;
}

.menu {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  border-bottom: 5px solid #293449;
  text-align: center;
}

.menu-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.menu-list__item a{
  color: var(--basic-white);
}

/*Main*/

.offers-section {
  color: var(--basic-white);
  align-items: center;
}

.offers-section__h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  align-items: center;
}

.wrap-materials {
  background-color: var(--color-materials);
}

.wrap-materials__link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  align-items: center;
}

.wrap-tool {
  background-color: var(--color-tool);
}

.wrap-tool__link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  align-items: center;
}

.wrap-technic {
  background-color: var(--color-technic);
}

.wrap-technic__link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  align-items: center;
}

.wrap-discounts {
  background-color: var(--color-discounts);
}

.wrap-discounts__link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  align-items: center;
}

.wrap-delivery {
  background-color: var(--color-delivery);
}

.wrap-delivery__link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  align-items: center;
}

.widget-promo {
  color: var(--basic-white);
}

.promo-perforator {
  background-color: var(--basic-black);
  opacity: 0.25;
}

.promo-perforator__h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.promo-perforator__caption {
  font-size: 18px;
  line-height: 24px;
}

.promo-drill {
  background-color: var(--basic-black);
  opacity: 0.25;
}

.promo-drill__h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.promo-drill__caption {
  font-size: 18px;
  line-height: 24px;
}

.widget-promo__link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.product-section {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
}

.product-section__wrap {
  background-color: var(--color-sections);
}

.product-section-h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-blue);
}

.product-section__link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-align: center;
}

.product-section-list,
.product-catalog-list,
.pagination-list,
.breadcrumbs-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/*Карточка товара*/

.product-card {
  font-family: "PT sans", sans-serif;
  font-weight: bold;
  width: 220px;
  border: 1px solid #EAEAEA;
  text-align: center;
}

.product-info__title {
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}

.product-info__old-price {
  font-size: 17px;
  line-height: 18px;
  color: var(--color-old-price);
  text-decoration: line-through;
}

.product-info__price {
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  font-weight: bold;
  color: var(--basic-white);
  background-image: url(/img/red-button.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.product-card-choice {
  text-align: center;
  display: none;
}

.product-card-choice__link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
  color: var(--basic-white);
  background-color: var(--color-green-button);
  border-radius: 2px;
  box-shadow: inset 0px -3px 0px #367315;
}

.product-card-choice__button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-blue);
  border: 3px solid #63A63E;
  border-radius: 2px;
  background-color: inherit;
}

.manufacture-section__wrap {
  background-color: var(--color-sections);
}

.manufacture-section-h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-blue);
}

.manufacture-section__link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-align: center;
}

.manufacture-section-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.manufacture-section-item {
  border: 1px solid #EAEAEA;
}

.services-section {
  background-color: var(--basic-light-grey);
}

.section-h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.services-section__slogan {
  font-family: "PT Sans";
}

.services-section-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.services-section-item {
  color: var(--basic-white);
}

.services-section-item__button1,
.services-section-item__button2,
.services-section-item__button3 {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  border: none;
  background-color: var(--basic-blue);
  color: inherit;
}

.delivery-wrap__h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-blue);
}

.delivery-wrap__desc {
  font-family: "PT Sans";
  background-image: url(/img/car.png);
  background-repeat: no-repeat;
  background-position: right;
}

.guarantee-wrap__h3 {
  font-size: 36px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-blue);
}

.guarantee-wrap__desc {
  font-family: "PT sans";
  background-image: url(/img/medal.png);
  background-repeat: no-repeat;
  background-position: right;
}

.credit-wrap__h3 {
  font-size: 36px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-blue);
}

.credit-wrap__desc {
  font-family: "PT sans";
  background-image: url(/img/credit.png);
  background-repeat: no-repeat;
  background-position: right;
}

.credit-wrap__link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--color-red-button);
  border-radius: 2px;
  color: var(--basic-white);
}

.about-company-section__text1 {
  font-family: "PT Sans";
}

.about-company-section__text2 {
  font-family: "PT Sans";
}

.about-company-section-list {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
}

.about-company-section__link,
.contacts-section__link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-align: center;
}

.contacts-section__text {
  font-family: "PT Sans";
}

.footer {
  background-color: var(--basic-blue);
}

.footer-nav__contacts {
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  color: var(--color-text-white);
}

.footer-nav-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 18px;
}

.footer-nav-list__item a{
  color: var(--color-text-white);
}

.footer-catalog-list{
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 18px;
}

.footer-catalog-list__item a{
  color: var(--color-text-gold1);
}

.footer-catalog-list__item:nth-child(2) a{
  color: var(--color-text-gold2);
}

.footer-copy {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-dark-blue);
}

.socials-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.social-item {

  background-color: var(--social-blue);
}

.communication-wrap__lead,
.development-wrap__lead {
  margin: 0px;
}

.communication-wrap__mail,
.development-wrap__url {
  color: var(--color-text-gold1);
}

.pagination-list__item1,
.pagination-list__item2,
.pagination-list__item3,
.pagination-list__item4 {
  font-family: "PT Sans";
  line-height: 18px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.meta-perforator {
  background-color: var(--basic-light-grey);
}

.pagination-list__item1 a,
.pagination-list__item2 a,
.pagination-list__item3 a,
.pagination-list__item4 a{
  color: var(--basic-black);
}

.meta-perforator__desc {
  font-family: "PT Sans";
}

.catalog-h1 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-blue);
}

.breadcrumbs-list__item {
  font-family: "PT Sans";
  text-transform: uppercase;
}

.breadcrumbs-list__item a {
  color: var(--basic-black);
}

.section-filter,
.section-cards__text {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

.filter-form__legend {
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-form-price,
.filter-form-manufacure,
.filter-form-power {
  border: 0 none;
  margin: 0px;
  padding: 0px;
}

.filter-form-price__min,
.filter-form-price__max,
.section-cards__wrap,
.section-filter {
  background-color: var(--color-poligon-filter);
}

.filter-form-manufacure label,
.filter-form-power label {
  font-family: "PT Sans";
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-form-price,
.filter-form-manufacure {
  border-bottom: 1px solid #F1F5F7;
}

.filter-result {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  border: 1px solid #F1F5F7;
  text-align: center;
}

.section-cards__price,
.section-cards__type,
.section-cards__functions {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dotted #EE3643;
}


/*Состояния*/

.footer-nav-list__item:hover,
.footer-catalog-list__item:hover {
  text-decoration: underline;
}

.footer-nav-list__item:active,
.footer-catalog-list__item:active {
  text-decoration: none;
  opacity: 0.5;
}

.communication-wrap__mail:hover,
.development-wrap__url:hover {
  text-decoration: underline;
}

.communication-wrap__mail:active,
.development-wrap__url:active {
  text-decoration: none;
  color: var(--basic-red);
}

.menu-list__item:hover {
  background-color: var(--basic-dark-blue);
}

.menu-list__item:active {
  background-color: var(--color-active-blue);
}

.menu-list__item:active a {
  color: rgba(255, 255, 255, 0.5);
}

.widget-promo__link:active,
.product-section__link:active,
.manufacture-section__link:active {
  background-color: var(--color-active-red);
}

.product-card:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.product-card:hover .product-info__img {
  display: none;
}

.product-card:hover .product-card-choice {
  display: initial;
}

.product-card-choice__button:hover {
  border-color: var(--basic-blue);
}

.product-card-choice__button:active {
  opacity: 0.5;
}

.product-card-choice__link:hover {
  background-color: var(--color-hover-green-button);
}

.product-card-choice__link:active {
  background-color: var(--color-active-green-button);
}

.manufacture-section-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.manufacture-section-item:active {
  opacity: 0.5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.search-form__input:active {
  background-color: var(--basic-white);
}

.search-form__input:active::placeholder {
  color: var(--basic-black);
}

.header-bookmarks:active,
.header-basket:active {
  background-color: var(--color-active-blue-button);
}

.header-bookmarks:active,
.header-basket:active {
  color: rgba(255, 255, 255, 0.5);
}

.header-arrange-button:hover {
  background-color: var(--color-hover-green-button);
}

.header-arrange-button:active {
  background-color: var(--basic-green);
  color: rgba(255, 255, 255, 0.5);
}

.user-menu__login:hover,
.user-menu__registration:hover {
  color: var(--basic-red);
}

.user-menu__login:active,
.user-menu__registration:active {
  color: var(--color-active-grey-bottom);
}

.user-menu__my-order:hover,
.user-menu__account:hover {
  color: var(--basic-red);
}

.user-menu__author:active,
.user-menu__my-order:active,
.user-menu__account:active {
  color: var(--color-active-grey-bottom);
}

.pagination-list__item1:hover,
.pagination-list__item2:hover,
.pagination-list__item3:hover,
.pagination-list__item4:hover {
  border-color: var(--color-active-grey-bottom);
}

.pagination-list__item1:active,
.pagination-list__item2:active,
.pagination-list__item3:active,
.pagination-list__item4:active {
  border-color: var(--basic-red);
}

.services-section-item__button1:hover,
.services-section-item__button2:hover,
.services-section-item__button3:hover {
  background-color: var(--basic-dark-blue);
}

.services-section-item__button1:active,
.services-section-item__button2:active,
.services-section-item__button3:active {
  color: var(--basic-blue);
  background-color: var(--basic-white);
}

.delivery-wrap,
.guarantee-wrap,
.credit-wrap {
  display: none;
}

.services-section-item__button1:active .delivery-wrap,
.services-section-item__button2:active .guarantee-wrap,
.services-section-item__button3:active .credit-wrap {
  display: initial;
}

.social-item:hover,
.social-item:active {
  background-color: var(--basic-red);
}

.header-logo:hover,
.footer-logo:hover {
  background-color: var(--basic-red);
  border-bottom: 5px solid #B52933;
}

.header-logo:active,
.footer-logo:active {
  background-color: var(--color-active-red);
  border-bottom: 5px solid #8D1E26;
}

.wrap-materials__link:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.wrap-materials__link:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.wrap-tool__link:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.wrap-tool__link:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.wrap-technic__link:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.wrap-technic__link:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.wrap-discounts__link:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.wrap-discounts__link:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.wrap-delivery__link:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.wrap-delivery__link:active {
  background-color: rgba(169, 169, 169, 0.3);
}

